body {
  font-family: cursive, Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.left {
  display: flex;
  align-items: center;
}
.left a {
  margin-right: 2px;
}
.right a {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
header a {
  color: #000;
}
p {
  color: #999;
}

.dropdown {
  width: 10px;
  display: flex;
  height: 10px;

  padding: 8px 10px;
  background-color: rgba(153, 153, 153, 0.05);
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.dropdown div {
  height: 1px;
  background: #000;
  margin: 2px 0px 2px 0px;
  border-radius: 25px;
  width: 100%;
}
.big3:hover,
.right a:hover {
  color: #f7af2a;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 54px;
}

.intro p {
  margin: 0 10px;
  padding: 0 10px;
}

.anime {
  margin: 0 10px;
}
.anime img {
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
}

.content {
  text-align: left;
  margin-left: 20px;
}
.content p {
  margin-top: 10px;
}

.theBigThree {
  display: flex;
  margin: 30px;
  gap: 20px;
}
.theBigThree h4 {
  margin: 0;
}

.successors {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.successors p {
  margin: 0 10px;
  padding: 0 10px;
}

.who {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.who img {
  height: 163px;
  width: 163px;
}
h4 {
  margin-top: 5px;
}

.socialPersonal {
  color: #999;
  margin: 17px;
  display: flex;

  justify-content: center;
  gap: 10px;
}
.socialPersonalContainer {
  display: flex;
}

.personalIcons {
  margin: 0 10px;

  border: 1px solid #282828;
  height: 20px;
  width: 20px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.personalIcons a {
  color: #282828;
}

footer {
  background-color: #282828;
  color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.social {
  color: #999;
  margin: 17px;
  display: flex;

  justify-content: center;
  gap: 20px;
}
.socialContainer {
  display: flex;
}

.item {
  display: flex;
  flex-direction: row;
}

.icon {
  margin: 0 10px;

  background-color: #999;
  border: 1px solid #999;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.icon a {
  color: #282828;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

hr {
  width: 99%;
}
.copyright p {
  margin-bottom: 0px;
}

@media all and (max-width: 768px) {
  .right {
    display: none;
  }
  .dropdown {
    display: block;
  }

  .intro {
    flex: 100%;
  }

  .theBigThree {
    flex-direction: column;
  }
  .anime {
    display: flex;
    margin-top: ;
  }

  .anime img {
    align-self: center;
    width: 200px;
  }

  .content {
    max-width: 500px;
    text-align: left;
  }
  .content h4 {
    text-align: left;
  }
  .whoContainer {
    display: grid;
    justify-content: center;
  }
  .who {
    flex-wrap: wrap;
    max-width: 500px;
  }
}
@media all and (max-width: 600px) {
  .intro p {
    text-align: justify;
  }
  .anime {
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
  }
  .anime img {
    width: 100%;
    height: 215px;
  }
  .content {
    text-align: justify;
    margin: 20px 5px;
  }
  .content p {
    margin-top: 10px;
  }

  h4 {
    text-align: center;
  }
  .who img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .successors p {
    text-align: justify;
  }
  .social {
    flex-direction: column;
    align-items: center;
  }
  .socialContainer {
    flex-direction: column;
    gap: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
}
